{% include 'BFCoreBundle:Components:header.html.twig'%}


    <header>
        {% include 'BFCoreBundle:Components:menu-home.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>Stop Dreaming,<br>Start shining.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut molestie leo, vel varius nibh. Aliquam eleifend, velit id sodales ultrices, tortor turpis posuere nulla, dignissim dapibus dui justo cursus magna.</p>
                        <!-- show a video -->
                        <article>

                        </article>
                </div>
            </div>


        </div>
    </header>


{% block content %}
{% endblock %}


{% include 'BFCoreBundle:Components:footer.html.twig' %}

  {% block scripts %}
  {% endblock %}

</body>
</html>
