{% include 'BFCoreBundle:Components:header.html.twig'%}

{% block content %}
{% endblock %}

{% include 'BFCoreBundle:Components:footer.html.twig' %}

  {% block scripts %}
  {% endblock %}

</body>
</html>
