{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}


    <!-- Beginning of the page -->
    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_team') }}" >Mes joueurs</a></li>
            <li><a href="{{ path('bf_core_team_challenges') }}" class="active">Les Challenges</a></li>
        </ul>
    </section>

    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}


    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <h1>Ajouter un nouveau challenge</h1>

            {% form_theme form.video 'BFAppBundle:Form:entity.html.twig' %}
            {{ form_start(form, { 'class': 'form-vertical' }) }}
            <!-- Begin of the form-->
            <input type="hidden" name="allowed" value="video">

            <!-- francais -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Le challenge</h3>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titre">Titre <span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.title, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'titre'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 25px;">
                            {{ form_widget(form.video, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'video'} }) }}
                        </div>
                    </div>

                    {{ form_widget(form.video) }}
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description <span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'description', 'rows': '5'} }) }}
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Les paliers -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Les Paliers</h3>

                <!-- First -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="one">Premier palier <span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.one, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'one'} }) }}
                        </div>
                    </div>
                </div>

                <!-- Second -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="two">Deuxieme palier<span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.two, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'two'} }) }}
                        </div>
                    </div>
                </div>

                <!-- Third -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="third">Troisieme palier<span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.three, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'three'} }) }}
                        </div>
                    </div>
                </div>

                <!-- Four -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="four">Quatrieme palier<span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.four, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'four'} }) }}
                        </div>
                    </div>
                </div>

                <!-- Five -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="five">Cinquieme palier<span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.five, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'five'} }) }}
                        </div>
                    </div>
                </div>

                <!-- Six -->
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="six">Sixieme palier<span class="required">*</span>
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.six, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'six'} }) }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Info -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Accesibilte</h3>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="form-group" style="text-align: center;">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="active">Challenge active ?
                        </label>
                        {{ form_widget(form.active, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'active', 'type': 'checkbox'} }) }}
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="form-group" style="text-align: center;">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="active">Challenge publique pour tout le club ?
                        </label>
                        {{ form_widget(form.clubPublic, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'clubPubllic', 'type': 'checkbox'} }) }}
                    </div>
                </div>



            </div>


            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 25px;">
                <input type="submit" name="submit" class="button btn-green" value="Enregistrer ce challenge">
            </div>


        </div>

        {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}