{# Template to display the list off all the Club challenges, The public challenges will be marked and only the teams challenges or modifiable or deleteable #}


{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Challenges - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_team_challenges') }}" class="active">Mes challenges</a></li>
            <li><a href="{{ path('bf_core_challenges_sponsored') }}">Challenges Sponsorisés</a></li>
            <li><a href="{{ path('bf_core_challenges_ranking') }}">Classement</a></li>
        </ul>
    </section>
    <div class="container">
        <div class="row">
            <h1>Challenges</h1>
            {% for challenge in challenges %}
                {% include 'BFCoreBundle:Challenge:thumbnail.html.twig' with {'challenge' : challenge } %}
            {% endfor %}
        </div>
    </div>

{% endblock %}