/*******************************************/
/************ Challenge View page **********/
/*******************************************/


.first{

  padding-top: 80px;
  .challenge-video{


    @media all and (max-width: $screen-sm-min){
      width: 100%;
      height:180px;
      display: block;
    }
    @media all and (min-width: $screen-sm-min){
      width: 450px;
      height:230px;
      display: inline-block;
    }
    @media all and (min-width: $screen-md-min){
      width: 640px;
      height:360px;
      display: inline-block;
    }
    @media all and (min-width: $screen-lg-min){
      width: 740px;
      height: 417px;
      display: inline-block;
    }


    .video-js{
      margin: auto;
      width:100%;
      height:100%;

    }
  }

  .challenge-description{

    vertical-align: top;
    padding:0px 5px;


    @media all and (max-width: $screen-sm-min){
      width: 100%;
      display: block;
    }
    @media all and (min-width: $screen-sm-min){
      width: 200px;
      display: inline-block;
    }
    @media all and (min-width: $screen-md-min){
      width: 330px;
      display: inline-block;
    }
    @media all and (min-width: $screen-lg-min){
      width: 430px;
      display: inline-block;
    }

    h1{
      margin-top: 0;
    }
  }
}

.challenge-repetitions-wrapper{
  width: 100%;
  margin: 0;
  padding: 0;

  .repetition{
    //Resolution xs and sm 33.33333%

      padding-bottom: 33.33333%;

    //Resolution md and lg 16.66667%
    @media all and (min-width: $screen-md-min) {
      padding-bottom: 16.66667%;
    }



    .repetition-holder{
      position: absolute;
      top:5px;
      left:5px;
      bottom:5px;
      right:5px;

      border: 2px solid $primary-green;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: $primary-green;

      &.one{
        border-color: gold;
        color: gold;
      }
      &.two{
        border-color: silver;
        color: silver;
      }
      &.three{
        border-color: #cd7f32;
        color: #cd7f32;
      }

      .score-holder{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        
        span{
          display: block;

          @media all and (min-width: 550px) {

            font-size: 24px;

            .repetition-score{
              font-size: 20px;
            }

          }

        }
      }
    }
  }

  .repetition-item-holder{
    padding: 0;
    margin: 0;
    width: 33.33333%;
    padding-bottom: 33.33333%;
    display: inline-block;
    position: relative;

    .item{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
    }
  }
}

.participate-btn{

}
.second{

  .last-videos{
    margin-bottom: 15px;
  }
  .best-videos{
    margin-bottom: 15px;
  }
}
