header{
  background:
          linear-gradient(
                          rgba(49, 177, 110, 0.90),
                          rgba(49, 177, 110, 0.90)
          ),
          url(/assets/images/header.jpg);
  //min-height:100vh;
  background-size: cover;
  position: relative;
  min-height: 70vh;

  h1{
    margin-top: 20vh;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    font-size:55px;
  }
  p{
    font-size: 18px;
    line-height: 25px;
    color: $white;
  }
}

#info, #mobile-app, #join{
  padding: 50px 0px;
  h2{
    font-size: 40px;
    font-weight: 700;
    color: $primary-green;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  h3{
    color:black;
    text-transform: uppercase;
    margin-bottom: 25px;

    i{
      margin-right: 10px;
    }
  }
  p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .picture{
    text-align: center;
    img{
      height: inherit;
      max-height: 650px;
    }
  }
  .store{
    text-align: center;
    a{
      text-decoration: none;
      img{
        width:100%;
      }
    }

  }
}
#join{

  div{
    border-top: 2px solid lightgrey;
    padding: 50px 0px;
    text-align: center;
    p{
      width: 60%;
      margin: auto;
      margin-bottom: 45px;
    }
    a{
      text-align: center;
      text-decoration: none;
      min-width: 250px;
      padding: 20px 50px !important;
    }
  }
}
