.full-page-login{
  background:
          linear-gradient(
            rgba(49, 177, 110, 0.90),
            rgba(49, 177, 110, 0.90)
          ),
          url(/assets/images/header.jpg);
  min-height: calc(100vh - 60px);
  background-size: cover;
  position: relative;

  h1{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    font-size:45px;

    @media (max-width: $screen-sm-min) {
      margin-top: 35px;
    }
  }

  h2{
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    font-size:35px;

    @media (max-width: $screen-sm-min) {
      margin-top: 15px;
    }
  }

  form{

    width:100%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;


    .inner-addon {
      position: relative;

      .fa {
        position: absolute;
        padding: 10px;
        pointer-events: none;
      }

    }

    .left-addon{

      margin: 15px 0px;

      .fa {
        left:  0px;
        bottom: 0px;
        font-size:30px;
      }

      input{
        padding-left:  45px;
        width:100%;
        height:50px;
        font-size: 18px;
      }
    }


    .button{
      width:80%;
      max-width: 350px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;

      &:hover{
        background-color: transparent;
      }
    }
  }
}