.ranking-head{
  width:100%;
  height:120px;
  margin-top:10px;
  position: relative;

  img{
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
  }
  .title{
    background-color: #9DC04E;
    position: absolute;
    left: 60px;
    bottom: 0px;
    width: calc(100% - 60px);
    height: 35px;

    h2{
      margin: 0;
      line-height: 35px;
      text-align: center;
    }
  }
}

.ranking-table{
  padding-left: 60px;
  padding-top: 15px;
}


