{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Accueil  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}
    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}



    <!-- Explications section -->
    <div class="container">

        <div class="row">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash notice">
                    <p>{{ flash_message }}</p>
                    <i class="fa fa-times close" aria-hidden="true"></i>
                </div>
            {% endfor %}
        </div>


        <div class="row">



            Connected homepage of a Coach


        </div>
    </div>


{% endblock %}