{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Accueil  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}
    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}


    <!-- Explications section -->
    <div class="container">
        <div class="row">

            <h2>Derniers challenges</h2>
            {% for challenge in challenges %}
                {% include 'BFCoreBundle:Challenge:thumbnail.html.twig' with {'challenge' : challenge } %}
            {% endfor %}

        </div>
        <div class="row">

            <h2>Dernieres videos</h2>
            {% for participation in challengeParticipations %}
                {% include 'BFCoreBundle:ChallengeParticipation:thumbnail-challenge-page.html.twig' with {'participation' : participation } %}
            {% endfor %}

        </div>
    </div>


{% endblock %}