@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";


@import "./helpers/variables.scss";
@import "./components/titles.scss";
@import "./components/buttons.scss";
@import "./components/footer.scss";
@import "./components/menu.scss";
@import "./components/challenge_thumbnail.scss";
@import "./components/notifications.scss";
@import "./components/messages.scss";
@import "./components/flashmessages.scss";
@import "./components/challenge_participation_thumbnail.scss";

///////////////////////////////////////////////
// The CSS for the different pages
//////////////////////////////////////////////
@import "./pages/home.scss";
@import "./pages/login.scss";
@import "./pages/profil.scss";
@import "./pages/ranking.scss";
@import "./pages/challenge.scss";

///////////////////////////////////////////////
// The main styles of CSS
//////////////////////////////////////////////


html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.no-padding{
  padding:0;
}