
.button{
  border: 2px solid $white;
  background-color: $white;
  color: $primary-green !important;
  padding: 20px 5px;
  border-radius: 6px;
  display: inline-block;

  &:hover{
    background-color: $primary-green;
    color: white !important;

  }

  &.btn-green{
    font-size: 16px;
    font-weight: 600;
    background-color: $primary-green;
    color: white !important;

    &:hover{
      background-color: $white;
      color: $primary-green !important;
      border: 2px solid $primary-green;
    }
  }

  &.btn-white{
    width:80%;
    max-width: 350px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    &:hover{
      background-color: transparent;
      text-decoration: none;
    }
  }
}