.challenge-thumbnail{
  border: 2px solid $primary-green;
  position: relative;
  min-height:310px;
  text-align: center;
  padding:30px 15px;
  width:100%;
  margin-bottom: 15px;
  
  &:hover{

    background-color: $primary-green;

    .title{
      color: $white;
    }

    .button{
      background-color: $white;
      border: 2px solid $white;
      color: $primary-green !important;

      &:hover{
        background-color: $primary-green;
        border: 2px solid $white;
        color: $white !important;
        text-decoration: none;
      }
    }
  }

  img{
    width: 80%;
    max-width: 400px;
  }

  .title{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  .button{

    padding: 10px 40px;
  }
}