.challenge-participation-thumbnail{

  position: relative;
  width:100%;

  img{
    width:100%;
  }
  
  &:hover{
    .overlay{
      display: block;
    }
  }

  .overlay{
    background: rgba(49,177,110,0.8);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    padding: 15px;
    cursor: pointer;
    text-align: center;


    .challenge-title{
      color: white;
      text-transform: uppercase;
      font-size: 26px;
    }

    p{

      font-size: 20px;
      .score{

      }

      .repetitions{

      }
    }


    .user-info{

      .avatar{
        width: 22px;
        -webkit-border-radius:22px;
        -moz-border-radius: 22px;
        border-radius:22px;
        margin-right: 5px;
      }

      .user-link{

        color:white;
        text-decoration: none;
        font-size: 22px;
        line-height: 22px;
        &:hover{
          text-shadow: black 1px 1px;
        }
      }
    }

  }
}