.flash{
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 25px;
  border-radius: 5px;

  &.notice{

    background-color: $primary-green;

  }

  &.error{
    background-color: $primarey-red;
  }

  p{
    margin:0;
    color: #ffffff;
    font-weight: 600;
  }

  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    opacity: 0.5;

    &:hover{
      color: #000;
    }
  }



}