.footer {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $primary-green;
  color: $white;
  .container{
    .row{

      p{
        line-height: 35px;
      }
      #social-buttons{
        a {
          text-decoration: none;
          -webkit-transition: ease 0.2s;
          -moz-transition: ease 0.2s;
          -ms-transition: ease 0.2s;
          -o-transition: ease 0.2s;
          transition: ease 0.2s;
          i {
            font-size: 30px;
            margin: 0px 5px;
            color: $white;
          }
          :hover{
            color: #cccccc;
          }
        }
      }
      p{
        color: $white;
      }
    }
  }
}