.not-home {
  width:100%;
  background-color: $primary-green;
  nav {
    top: 0px;
    color: $white;
    background-color: transparent !important;
    border-color: transparent !important;

    //fix to the top on mobile.
    @media (min-width: $screen-sm-min) {
      margin-top: 20px;

    }

    .navbar-toggle {
      border: none !important;
      background-color: transparent !important;

      .icon-bar {
        background-color: $white !important;
      }
      &:hover {
        background-color: transparent !important;
        .icon-bar {
          background-color: yellow !important;
        }
      }
      &:focus {
        color: $white !important;
      }
      &:visited {
        background-color: transparent !important;
      }
      &[aria-expanded=true] {
        .icon-bar {
          background-color: yellow !important;
        }
      }
    }

    .navbar-header {
      .navbar-brand {
        background: url(http://bestfootball.fr/img/logo.png) left no-repeat transparent;
        background-position: top left;
        background-size: 50px 50px;
        color: $white;
        padding-left: 65px;
        text-transform: uppercase;
        font-weight: 900;

        &:hover {
          color: $white !important;
        }
        &:focus {
          color: $white !important;
        }
      }
    }

    .navbar-nav {
      text-align: center;
      #user-messages, #user-notifications {
        a {
          padding: 10px 5px;
          width: 50px;
          margin: auto;

          i {
            font-size: 30px;
          }
        }

        span {
          position: absolute;
          top: 4px;
          right: 0px;
          background-color: red;
        }

        &.open {
          a {
            padding: 10px 5px;
            background-color: transparent;
            color: yellow !important;
          }
          &:focus {
            background-color: transparent !important;
            color: yellow !important;
          }
        }
        .dropdown-menu {
          color: $primary-green;
        }
      }

      #user-menu {
        a {
          padding: 5px 5px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
          }
        }

        &.open {
          a {
            padding: 5px 5px;
            background-color: transparent;
            img {
              border: 2px solid yellow;
            }
          }
          &:focus {
            background-color: transparent !important;
          }
        }

        .dropdown-menu {
          color: $primary-green;

          li {
            a {
              color: $primary-green !important;
            }
          }
        }
      }

      li {
        a {
          color: $white !important;
          font-weight: 600;

          &.button {
            color: $primary-green !important;

            &:hover {
              color: $white !important;
            }
          }

        }
      }

      .active {
        a {
          color: yellow !important;
          background-color: transparent !important;
        }
      }
    }

  }
}

.home{
    nav{
      top:0px;
      color: $white;
      background-color: transparent !important;
      border-color: transparent !important;

      //fix to the top on mobile.
      @media (min-width: $screen-sm-min) {
        margin-top: 20px;

      }

      .navbar-toggle{
        border: none !important;
        background-color: transparent !important;

        .icon-bar{
          background-color: $white !important;
        }
        &:hover{
          background-color: transparent !important;
          .icon-bar{
            background-color: yellow !important;
          }
        }
        &:focus{
          color: $white !important;
        }
        &:visited{
          background-color: transparent !important;
        }
        &[aria-expanded=true]{
          .icon-bar{
            background-color: yellow !important;
          }
        }
      }

      .navbar-header{
        .navbar-brand{
          background: url(http://bestfootball.fr/img/logo.png) left no-repeat transparent;
          background-position: top left;
          background-size: 50px 50px;
          color: $white;
          padding-left: 65px;
          text-transform: uppercase;
          font-weight: 900;

          &:hover{
            color: $white !important;
          }
          &:focus{
            color: $white !important;
          }
        }
      }

      .navbar-nav{

        text-align: center;
        #user-messages, #user-notifications{
          a{
            padding: 10px 5px;
            width: 50px;
            margin: auto;

            i{
              font-size: 30px;
            }
          }

          span{
            position: absolute;
            top: 4px;
            right: 0px;
            background-color: red;
          }

          &.open{
            a{
              padding: 10px 5px;
              background-color: transparent;
              color: yellow !important;
            }
            &:focus{
              background-color: transparent !important;
              color: yellow !important;
            }
          }
          .dropdown-menu{
            color:  $primary-green;
          }
        }

        #user-menu{
          a{
            padding: 5px 5px;
            img{
              width: 40px;
              height: 40px;
              border-radius: 40px;
            }
          }

          &.open{
            a{
              padding: 5px 5px;
              background-color: transparent;
              img{
                border: 2px solid yellow;
              }
            }
            &:focus{
              background-color: transparent !important;
            }
          }

          .dropdown-menu{
            color:  $primary-green;

            li{
              a{
                color:  $primary-green !important;
              }
            }
          }
        }





        li{
          a{
            color: $white !important;
            font-weight: 600;

            &.button{
              color: $primary-green !important;

              &:hover{
                color: $white !important;
              }
            }

          }
        }

        .active{
          a{
            color: yellow !important;
            background-color: transparent !important;
          }
        }
      }


    }
}

#sub-menu{
  width:100%;
  height:40px;
  padding:10px;
  background-color: #f6ec3c;
  text-align: center;

  ul{
    list-style: none;
    li{
      display: inline;

      &:not(:first-child){
        :before {
          content: '|';
          margin: 0px 10px;
          font-weight: 500;
        }
      }
      a{
        color: $primary-green;
        text-decoration: none;
        font-size:18px;
        line-height: 20px;
        font-weight: 500;

        &.active{
          font-weight: 800;
        }
      }
    }
  }



}