#user-messages{
  span{
    &.badge{
      display: none;
    }
  }
}

#user-messages{
  span{
    &.badge{
      display: none;
    }
  }

  .dropdown-menu{

    width:300px;

    li{
      border-bottom: 1px solid lightgrey;

      &:hover{
        background-color: #f5f4f4;
        cursor: pointer;
      }

      &.new{
        background-color: #dedede;
      }

      .conversation-wrapper{
        img{
          object-fit: cover;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          width: 55px;
          vertical-align: top;
        }

        .conversation-text-wrapper{
          display: inline-block;
          width: calc(100% - 55px);
          padding: 0px 10px;

          .conversation-title{
            font-size: 14px;
            font-weight: 800;
          }

          p{
            color: black;
            font-size: 12px;
            margin-bottom: 0;
          }

          .conversation-date{
            position: relative;
            background: transparent;
            color: grey;
            font-size: 10px;
            line-height: 10px;
            vertical-align: top;
          }
        }

        &.unread{
          //style for a new notification

        }
      }
    }
  }
}