#user-notifications{
  span{
    &.badge{
      display: none;
    }
  }

  .dropdown-menu{

    width:300px;

    li{
      border-bottom: 1px solid lightgrey;

      &:hover{
        background-color: #f5f4f4;
      }

      &.new{
        background-color: #dedede;
      }

      .notif-wrapper{


        //Style for a notification
        .notif-link{
          padding:0;
          color: black;
          margin:0;
          display: block;
          width: 100%;

          img{
            object-fit: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 55px;
            vertical-align: top;
          }

          .notif-text-wrapper{
            display: inline-block;
            width: calc(100% - 55px);
            padding: 0px 10px;

            p{
              color: black;
              font-size: 12px;
              margin-bottom: 0;
            }

            .notif-date{
              position: relative;
              background: transparent;
              color: grey;
              font-size: 10px;
              line-height: 10px;
            }
          }





        }

        &.new{
          //style for a new notification

        }
      }
    }
  }
}
