h1{
  font-size: 45px;
  font-weight: 700;
  color: #31B16E;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2{
  font-size: 40px;
  font-weight: 700;
  color: #31B16E;
  text-transform: uppercase;
  margin-bottom: 25px;
}