<div class="container">
    <div class="row">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash notice">
                <p>{{ flash_message }}</p>
                <i class="fa fa-times close" aria-hidden="true"></i>
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash error">
                <p>{{ flash_message }}</p>
                <i class="fa fa-times close" aria-hidden="true"></i>
            </div>
        {% endfor %}
    </div>
</div>