

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                    <p class="text-muted">Bestfootball</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" id="social-buttons">
                    <a href="https://www.facebook.com/Bestfootball.official/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Bestfootball_10" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/bestfootball.official/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </footer>
    <!-- /footer -->

    <!-- Scripts to include -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets\vendor\bootstrap-sass\assets\javascripts/bootstrap.min.js"></script>

    <!-- VideoJS javascript -->
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>

    <!-- FOS JS Routing scripts -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- All the other assets scripts -->
    {% if app.user %}
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/notifications.js') }}"></script>
        <script src="{{ asset('assets/js/messages.js') }}"></script>
    {% endif %}

