<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    {% block facebook_social %}
    {% endblock %}

    {% block twitter_social %}
    {% endblock %}

    <link rel="icon" href="../../favicon.ico">

    <title>Bestfootball</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- VideoJS CSS -->
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
    <!-- Custom style for VideoJS -->
    <style>
        .video-js {
            font-size: 10px;
            color: #31B16E !important;
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>