<!-- Static navbar -->
<div class="container home">
    <div class="row">
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('bf_core_homepage') }}">Bestfootball</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Videos</a></li>
                    <li><a href="{{ path('bf_core_challenges') }}">Challenges</a></li>
                    <li><a href="">Explications</a></li>
                    <li><a href="{{ path('bf_core_bestclub') }}">Bestclub</a></li>
                    <li><a href="{{ path('bf_core_login') }}" class="button">Connexion</a></li>
                    <li><a href="{{ path('bf_core_subscribe') }}" class="button" style="margin-left: 15px;">Inscription</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </div>
</div><!--/.container-fluid -->