<!-- Static navbar -->
<div class="not-home">
    <div class="container">
    <div class="row">
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('bf_core_homepage') }}">Bestfootball</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        {# Menu pour un club #}
                        {% if is_granted('ROLE_CLUB') %}
                            <li><a href="{{ path('bf_core_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('bf_core_club_teams') }}">Mon Club</a></li>
                        {# Menu pour un coach #}
                        {% elseif is_granted('ROLE_COACH') %}
                            <li><a href="{{ path('bf_core_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('bf_core_team_view', {'teamslug': app.user.team.slug }) }}">Mon equipe</a></li>
                            <li><a href="{{ path('bf_core_challenges') }}">Challenges</a></li>
                        {# Menu pour un joueur #}
                        {% else %}
                            <li><a href="{{ path('bf_core_homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('bf_core_team_view', {'teamslug': app.user.team.slug }) }}">Mon equipe</a></li>
                            <li><a href="">Videos</a></li>
                            <li><a href="{{ path('bf_core_challenges') }}">Challenges</a></li>
                            <li><a href="">Explications</a></li>
                        {% endif %}

                        <li class="dropdown" id="user-messages">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope-o" aria-hidden="true">
                                    <span class="badge">8</span>
                                </i>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>

                        {# This is the notifications button #}
                        <li class="dropdown" id="user-notifications">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-futbol-o" aria-hidden="true">
                                    <span class="badge">8</span>
                                </i>
                            </a>
                            <ul class="dropdown-menu"></ul>
                        </li>

                        {# This is the profile section #}
                        <li class="dropdown" id="user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ app.user.profilePicture.src }}" />
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('bf_user_profil', {'username' : app.user.username}) }}">Mon profil</a></li>
                                <li><a href="#">Mes videos</a></li>
                                <li><a href="{{ path('bf_user_settings') }}">Mes paramètres</a></li>
                                <li role="separator" class="divider"></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('bf_admin_homepage') }}" target="_blank">Section Administrateur</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('bf_core_login') }}" class="button">Connexion</a></li>
                        <li><a href="{{ path('bf_core_subscribe') }}" class="button" style="margin-left: 15px;">Inscription</a></li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </div>
</div><!--/.container-fluid -->
</div>