{% extends 'BFAdminBundle::layout.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ajouter un challenge</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    {% form_theme form.video 'BFAppBundle:Form:entity.html.twig' %}
                    {{ form_start(form, { 'class': 'form-vertical' }) }}
                    <!-- Begin of the form-->
                    {{ form_row(form.video) }}
                    <input type="hidden" name="allowed" value="video">

                    <!-- francais -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Francais</h3>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titre">Titre <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'titre'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form_widget(form.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'description'} }) }}
                            </div>
                        </div>
                    </div>

                    <!-- anglais -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Anglais</h3>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titreEN">Title <span class="required">*</span>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ form_widget(form.title, { 'class': 'form-control col-md-12 col-xs-12', 'id':'titreEN' }) }}
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Les paliers -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Les Paliers</h3>

                        <!-- First -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="one">Premier palier <span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.one, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'one'} }) }}
                                </div>
                            </div>
                        </div>

                        <!-- Second -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="two">Deuxieme palier<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.two, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'two'} }) }}
                                </div>
                            </div>
                        </div>

                        <!-- Third -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="third">Troisieme palier<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.three, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'three'} }) }}
                                </div>
                            </div>
                        </div>

                        <!-- Four -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="four">Quatrieme palier<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.four, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'four'} }) }}
                                </div>
                            </div>
                        </div>

                        <!-- Five -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="five">Cinquieme palier<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.five, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'five'} }) }}
                                </div>
                            </div>
                        </div>

                        <!-- Six -->
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="six">Sixieme palier<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.six, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'six'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Les Informations</h3>


                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="endDate">Date de fin<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.endDate, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'endDate', 'type': 'date'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group" style="text-align: center;">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="active">Challenge active ?
                                </label>
                                    {{ form_widget(form.active, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'active', 'type': 'date'} }) }}
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group" style="text-align: center;">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="partner_check">Challenge sponsorisé ?
                                </label>
                                {{ form_widget(form.sponsored, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'partner_check'} }) }}
                            </div>
                        </div>

                    </div>

                    <!-- Sponsored challenge section -->
                    <div class="col-md-12 col-sm-12 col-xs-12" id="sponsored_section" style="display:none;">
                        <h3>Les informations du sponsor</h3>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="partner_name">Nom du partner<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.partner.name, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'partner_name'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="partner_description">Description du partner<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.partner.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'partner_description'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="partner_website">Site web du partner
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.partner.website, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'partner_website'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3>Les prix à gagner</h3>

                            <!-- First price-->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_title">Titre du premier prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.first_price.title, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'first_price_title'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_description">Description du premier prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.first_price.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'first_price_description'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_logo">Photo du premier prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                            </div>

                            <!-- Second price-->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="second_price_title">Titre du deuxieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.second_price.title, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'first_price_title'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_description">Description du deuxieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.second_price.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'first_price_description'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_logo">Photo du deuxieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                            </div>

                            <!-- Third price-->
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="third_price_title">Titre du troisieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.third_price.title, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'third_price_title'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="third_price_description">Description du troisieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {{ form_widget(form.third_price.description, { 'attr': {'class': 'form-control col-md-12 col-xs-12', 'id': 'third_price_description'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first_price_logo">Photo du troisieme prix
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="submit" name="submit" class="btn btn-success" value="Enregistrer ce challenge">
                    </div>


                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}