{% extends 'BFAdminBundle::layout.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tous les challenges</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" style="display: table-cell;">Titre</th>
                                <th class="column-title" style="display: table-cell;">Date</th>
                                <th class="column-title" style="display: table-cell;">Date de fin</th>
                                <th class="column-title" style="display: table-cell;">Videos soumis</th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Visualiser</span></th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Modifier</span></th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Supprimer</span></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for challenge in challenges %}
                                <tr class="{% if loop.index is even %}even pointer{% else %}odd pointer{% endif %}">
                                    <td class=" ">{{ challenge.title }}</td>
                                    <td class=" ">{{ challenge.date|date("d/m/Y") }}</td>
                                    <td class=" ">{{ challenge.endDate|date("d/m/Y") }}</td>
                                    <td class=" ">...</td>

                                    <td class=""><a href="{{ path('bf_admin_challenge_view', {'id' : challenge.id}) }}" class="btn btn-round btn-success">Visualiser</a></td>
                                    <td class=""><a href="{{ path('bf_admin_challenge_mod', {'id' : challenge.id}) }}" class="btn btn-round btn-primary">Modifier</a></td>
                                    <td class=""><a href="{{ path('bf_admin_challenge_del', {'id' : challenge.id}) }}" class="btn btn-round btn-danger">Supprimer</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}