{# src/BF/AppBundle/Resoucres/views/Form/entity.html.twig #}
{% block entity_widget %}
    {% spaceless %}
        <div>
            <label for="{{ form.vars.id }}" class="btn btn-success">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                Choisir une video
            </label>
            <input id="{{ form.vars.id }}" class="ajax_file hidden" type="file" data-target="{{ path('bf_add_file') }}">

            <div class="progress hidden" style="max-width: 350px; width:90%; margin: auto; margin-bottom: 15px;">
                <div class="progress-bar progress-bar-success"></div>
            </div>

            <input name="{{ form.vars.full_name }}" type="hidden">
        </div>
    {% endspaceless %}
{% endblock entity_widget %}