{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Challenges - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}


    <!-- Beginning of the page -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 last-videos">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 best-videos">
                {% block messages %}

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}