<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="challenge-participation-thumbnail">
        <img src="{{ participation.thumbnail }}" alt="Thumbnail of the {{ participation.challenge.title }} challenge on Besftfootball" />
        <div class="overlay">
            <span class="challenge-title">{{ participation.challenge.title }}</span>



            <p><span class="score">{{ participation.score }} points</span> - <span class="repetitions">{{ participation.repetitions }} X</span></p>
            <div class="user-info">
                <img src="{{ participation.user.profilePicture.src }}" class="avatar"/>
                <a href="" class="user-link">{{ participation.user.username }}</a>
            </div>
        </div>
    </div>
</div>