{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Bestclub  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    <!-- Beginning of the page -->
    <section class="full-page-login">
        {% include 'BFCoreBundle:Components:menu-home.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <h1>Votre inscription est presque terminé</h1>
                    <p style="color: white; font-size: 18px; max-width: 980px; margin: auto;">Un courriel a ete envoye a {{ user.email }}. Dans ce courriel vous trouverez un lien afin de confirmer votre insciption. Si vous n'avez pas recu de courriel, verifiez votre dossier de spam</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}