{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Subscribe - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    <!-- Beginning of the page -->
    <section class="full-page-login">
        {% include 'BFCoreBundle:Components:menu-home.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <h1>S'inscrire</h1>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': ''}}) }}
                    <div class="inner-addon left-addon">
                        <p>{{ form_errors(form.username) }}</p>
                        {{ form_widget(form.username, {'attr': { 'class' : 'form-control', 'placeholder': "Nom d'utilisateur" }}) }}
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>

                    <div class="inner-addon left-addon">
                        <p>{{ form_errors(form.email) }}</p>
                        {{ form_widget(form.email, {'attr': { 'class' : 'form-control', 'placeholder': "Courriel" }}) }}
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </div>

                    <div class="inner-addon left-addon">
                        <p>{{ form_errors(form.plainPassword.first) }}</p>
                        {{ form_widget(form.plainPassword.first, {'attr': { 'class' : 'form-control', 'placeholder': "Mot de passe"}}) }}
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>

                    <div class="inner-addon left-addon">
                        <p>{{ form_errors(form.plainPassword.second) }}</p>
                        {{ form_widget(form.plainPassword.second, {'attr': { 'class' : 'form-control', 'placeholder': "Confirmer mot de passe" }}) }}
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>

                    {{ form_widget(form._token) }}

                    <input type="submit" class="button" value="S'inscrire">
                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </section>

{% endblock %}