{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Challenges - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    <!-- Beginning of the page -->
    <section class="full-page-login">
        {% include 'BFCoreBundle:Components:menu-home.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <h1>S'inscire</h1>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                        <h2>Club</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada venenatis pellentesque. Cras pulvinar consequat placerat. Proin sed nisi ultricies nisi viverra tristique at eget augue. Nam hendrerit a elit ac sodales. </p>
                        <a href="{{ path('bf_core_subscribe_club') }}" class="button btn-white" style="display: block; width: 150px; margin: auto;">Souscrire</a>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                        <h2>Joueur</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada venenatis pellentesque. Cras pulvinar consequat placerat. Proin sed nisi ultricies nisi viverra tristique at eget augue. Nam hendrerit a elit ac sodales. </p>
                        <a href="{{ path('bf_core_subscribe_player') }}" class="button btn-white" style="display: block; width: 150px; margin: auto;">Souscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}