{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Participate - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 form-section">
                <h1>Participer au {{ challenge.title }}</h1>
                {# The form #}
                {% form_theme form.video 'BFAppBundle:Form:entity.html.twig' %}
                {{ form_start(form) }}

                    {{ form_row(form.video) }}
                    <div class="after-upload" style="display: none;">
                        {{ form_row(form.repetitions) }}
                        <input type="submit" name="submit" value="Envoyer">
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 explications">
                {# Explinations #}
                <p>
                    Aenean id laoreet justo, eget tristique nibh. Praesent feugiat dolor nec quam accumsan pharetra. Morbi et faucibus tellus. In ultricies condimentum massa, vel facilisis elit pellentesque eget. Mauris nisi orci, molestie at eleifend nec, auctor vitae ipsum. Cras pretium et elit ut bibendum. Duis fringilla eleifend tellus. Praesent quis vestibulum lacus.
                </p>
            </div>

            Test for the video upload.
            
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}