{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Challenges - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_challenges') }}">Tous les challenges</a></li>
            <li><a href="{{ path('bf_core_challenges_sponsored') }}">Challenges Sponsorisés</a></li>
            <li><a href="{{ path('bf_core_challenges_ranking') }}" class="active">Classement</a></li>
        </ul>
    </section>
    <div class="container">
        <div class="row">
            <h1>{{ 'Classement'|trans }} - {{ ranking }}</h1>



            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                Selection des pays etc.
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <!-- the mixed ranking -->

                <section>
                    <div class="ranking-head">
                        <img src="{{ asset('assets/images/mixed.png') }}" alt=""/>
                        <div class="title">
                            <h2>Mixed</h2>
                        </div>
                    </div>

                    <div class="ranking-table">
                        <!-- the first 10 persons -->
                        <table class="table">
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                        </table>
                    </div>
                </section>

                <section>
                    <div class="ranking-head">
                        <img src="{{ asset('assets/images/boys.png') }}" alt=""/>
                        <div class="title">
                            <h2>Mixed</h2>
                        </div>
                    </div>

                    <div class="ranking-table">
                        <!-- the first 10 persons -->
                        <table class="table">
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                        </table>
                    </div>
                </section>

                <section>
                    <div class="ranking-head">
                        <img src="{{ asset('assets/images/girls.png') }}" alt=""/>
                        <div class="title">
                            <h2>Mixed</h2>
                        </div>
                    </div>
                    <div class="ranking-table">
                        <!-- the first 10 persons -->
                        <table class="table">
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>LOGO</td>
                                <td>USERNAME</td>
                                <td>POINTS</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>

        </div>
    </div>

{% endblock %}