<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="challenge-thumbnail">
        <img src="{{ challenge.thumbnail }}" alt="Thumbnail of the {{ challenge.title }} challenge on Besftfootball" />
        <h2 class="title">{{ challenge.title }}</h2>
        <a href="{{ path('bf_core_challenge', {'slug': challenge.slug}) }}" class="button btn-green">Participer</a>
    </div>
</div>