{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Challenges - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}


    <!-- Beginning of the page -->
    <div class="container">
        <div class="row first">
            <div class="challenge-video">
                {# Show the video here #}
                <video id="my-video" class="video-js" controls preload="auto" width="560" height="264"
                       poster="{{ challenge.thumbnail }}" data-setup="{}">
                    <source src="{{ challenge.videoSRC }}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div><!--
            --><div class="challenge-description">
                <h1>{{ challenge.title }}</h1>
                <p>
                    {{ challenge.description }}
                </p>
                <button class="button btn-green" data-toggle="modal" data-target="#addParticipation" style="width:100%;">Participer</button>
            </div>
        </div>


        <div class="row challenge-repetitions-wrapper">
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder one">
                    <div class="score-holder">
                        <span class="repetition-score">300 Points</span>
                        <span class="repetition-number">{{ challenge.one }} X</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder two">
                    <div class="score-holder">
                        <span class="repetition-score">250 Points</span>
                        <span class="repetition-number">{{ challenge.two }} X</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder three">
                    <div class="score-holder">
                        <span class="repetition-score">200 Points</span>
                        <span class="repetition-number">{{ challenge.three }} X</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder">
                    <div class="score-holder">
                        <span class="repetition-score">150 Points</span>
                        <span class="repetition-number">{{ challenge.four }} X</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder">
                    <div class="score-holder">
                        <span class="repetition-score">100 Points</span>
                        <span class="repetition-number">{{ challenge.five }} X</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 repetition">
                <div class="repetition-holder">
                    <div class="score-holder">
                        <span class="repetition-score">50 Points</span>
                        <span class="repetition-number">{{ challenge.six }} X</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row second">

            {% if bestParticipations is not empty %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 best-videos">
                    <h2>Les meilleurs participations</h2>
                    {% for participation in bestParticipations %}
                            {% include 'BFCoreBundle:ChallengeParticipation:thumbnail-challenge-page.html.twig' with {'participation' : participation } %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if bestParticipations is not empty %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 last-videos">
                    <h2>Les dernieres participations</h2>
                    {% for participation in lastParticipations %}
                            {% include 'BFCoreBundle:ChallengeParticipation:thumbnail-challenge-page.html.twig' with {'participation' : participation } %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- The participation modal -->
    <div class="modal fade" id="addParticipation" tabindex="-1" role="dialog" aria-labelledby="addParticipation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Participer au {{ challenge.title }}</h4>
                </div>
                <div class="modal-body" style="text-align: center;">

                    <h2 id="upload-title">Upload ta video!</h2>
                    <h2 id="repetitions-title" style="display: none;">Combien de repetions ?</h2>

                    {% if form is not null %}
                        {# The form #}
                        {% form_theme form.video 'BFAppBundle:Form:entity.html.twig' %}
                        {{ form_start(form) }}

                        {{ form_widget(form.video) }}
                        <input type="hidden" name="allowed" value="video">
                        <div class="after-upload" style="display: none;">
                            {{ form_widget(form.repetitions, {'attr': { 'class' : 'form-control', 'placeholder': "Repetitions", 'style': 'max-width: 350px; width:90%; margin: auto; margin-bottom: 15px;' }}) }}
                            <input type="submit" name="submit" value="Envoyer ma participation" class="button btn-green">
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    {% else %}
                        {# The form #}
                        <p>Pour particper au challenges, vous devez etre connecte ou inscrit.</p>
                        <a href="{{ path('bf_core_login') }}" class="button btn-green">Connexion</a>
                        <a href="{{ path('bf_core_subscribe') }}" class="button btn-green" style="margin-left: 15px;">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}