{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Bestclub  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Explications section -->
    <div class="container">
        <section id="info" class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 vcenter">
                <h1>BESTCLUB</h1>
                <h2>La solution à destination des clubs</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-sign-in" aria-hidden="true"></i>s'inscrire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-futbol-o" aria-hidden="true"></i>Participer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-trophy" aria-hidden="true"></i>Remporter des lots</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
            </div><!--
            Picture
            --><div class="hidden-xs col-sm-4 col-md-6 col-lg-6 picture vcenter">
                <img src="/assets/images/xtnM1.png" alt=""/>
            </div>
        </section>
        <section id="join" class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h2>Souscrire !</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                <a href="{{ path('bf_core_bestclub_subscription') }}" class="button btn-green">Souscrire</a>
            </div>
        </section>
    </div>


{% endblock %}