{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Bestclub  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Explications section -->
    <div class="container">
        <section id="info" class="row">

            {% form_theme form.logo 'BFAppBundle:Form:picture.html.twig' %}
            {{ form_start(form) }}

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Compte utilisateur</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Nom d'utilisateur</label>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Courriel</label>
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Mot de passe</label>
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Répétition du Mot de passe</label>
                        {{ form_widget(form.password2, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <h2>Informations du club</h2>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Nom du club</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Ligue</label>
                        {{ form_widget(form.league, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

            </div><!--
            --><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Adresse du club</h2>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Adresse</label>
                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Adresse 2</label>
                        {{ form_widget(form.address2, {'attr': {'class': 'form-control'}}) }}
                    </div>


                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-8">
                        <label for="name">Ville</label>
                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <label for="name">Code postale</label>
                        {{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Departement</label>
                        {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Pays</label>
                        {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <h2>Le logo</h2>
                    {{ form_widget(form.logo, {'attr': {'class': 'form-control'}}) }}

                </div>


            </div>
        </section>
        <section id="join" class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h3>Votre montant mensuel:</h3>
                <h3>€ 5,99</h3>

                {{ form_widget(form.submit, {'attr': {'class': 'button btn-green', 'value': 'Paiement'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </section>
    </div>


{% endblock %}