{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Login - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
        {% include 'BFCoreBundle:Components:menu.html.twig' %}

        <!-- Beginning of the page -->
        Beginning of the page

{% endblock %}