{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Settings - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <div class="container">
        <div class="row">
            <h1>Mes Paramètres</h1>
            <p>Sub header</p>
            {{ form_start(form) }}
                {{ form_rest(form) }}
            <button type="submit">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}