////////////////////////////////////////////////
//// All the variables relative to the colors
////////////////////////////////////////////////

$primary-green: #31B16E;
$secondary-green: #2ca064;
$primarey-red: #b14031;
$white: #ffffff;