{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Bestclub  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Explications section -->
    <div class="container">
        <section id="info" class="row">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}


            {{ form_start(form) }}

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Compte utilisateur</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="name">Numero de carte</label>
                        {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <label for="name">month</label>
                        {{ form_widget(form.exp_month, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <label for="name">year</label>
                        {{ form_widget(form.exp_year, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <label for="name">CVC</label>
                        {{ form_widget(form.cvc, {'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
            </div><!--
            --><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <h2>Informations de facturation</h2>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">Nom pour la facture</label>
                            {{ form_widget(form.customer_name, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">email de la facture</label>
                            {{ form_widget(form.customer_email, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">Adresse de facturation</label>
                            {{ form_widget(form.customer_address, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">Code postale</label>
                            {{ form_widget(form.customer_zip, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">Ville</label>
                            {{ form_widget(form.customer_city, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="name">Pays</label>
                            {{ form_widget(form.customer_country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
            </div>
        </section>
        <section id="join" class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h3>Votre montant mensuel:</h3>
                <h3>€ 5,99</h3>

                {{ form_widget(form.submit, {'attr': {'class': 'button btn-green', 'value': 'Paiement'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </section>
    </div>


{% endblock %}