{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_team_view', {'teamslug': team.slug}) }}">Joueurs</a></li>
            <li><a href="{{ path('bf_core_team_challenges', {'teamslug': team.slug}) }}" class="active">Challenges</a></li>
            <li><a href="{{ path('bf_core_team_matches', {'teamslug': team.slug}) }}">Matches</a></li>
            <li><a href="{{ path('bf_core_team_trainings', {'teamslug': team.slug}) }}">Entrainements</a></li>
        </ul>
    </section>

    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}

    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ path('bf_team_challenge_add', {'slug' : team.slug}) }}" class="button btn-green">Ajouter un challenge</a>
            </div>
        </div>
        <div class="row">
            <h1>Mes Challenges</h1>
            {% for challenge in teamChallenges %}
                {% include 'BFCoreBundle:Challenge:thumbnail.html.twig' with {'challenge' : challenge } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}