{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_team_view', {'teamslug': team.slug}) }}">Joueurs</a></li>
            <li><a href="{{ path('bf_core_team_challenges', {'teamslug': team.slug}) }}">Challenges</a></li>
            <li><a href="{{ path('bf_core_team_matches', {'teamslug': team.slug}) }}" class="active">Matches</a></li>
            <li><a href="{{ path('bf_core_team_trainings', {'teamslug': team.slug}) }}">Entrainements</a></li>
        </ul>
    </section>

    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}


    <div class="container" style="margin-top: 15px;">
        {% if is_granted('ROLE_COACH') %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="" class="button btn-green">Ajouter un match</a>
                </div>
            </div>
        {% endif %}



        {% if teamMatches is not null %}
            <div class="row">
                <h1>Mes matches</h1>
                {% for match in teamMatches %}

                {% endfor %}
            </div>
        {% endif %}



    </div>
{% endblock %}

{% block scripts %}

{% endblock %}