{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}
    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}


    <!-- Explications section -->
    <div class="container">
        <div class="row">

            <h1>Invitation d'equipe</h1>
            <p>Tu as ete invite par {{ club.name }} pour rejoindre leur equipe : {{ team.name }}</p>
            <p>Acceptez vous cette invitation ?</p>

            <form  method="post" action="{{ path('bf_team_invite_response')}}">
                <input type="hidden" name="invitation_hash" value="{{ invitation.hash }}">

                <button  name="submit" value="0" type="submit" class="button btn-green">Non</button>
                <button  name="submit" value="1" type="submit" class="button btn-green">Oui</button>
            </form>

        </div>
    </div>


{% endblock %}