{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->

    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_team_view', {'teamslug': team.slug}) }}" class="active">Joueurs</a></li>
            <li><a href="{{ path('bf_core_team_challenges', {'teamslug': team.slug}) }}" >Challenges</a></li>
            <li><a href="{{ path('bf_core_team_matches', {'teamslug': team.slug}) }}">Matches</a></li>
            <li><a href="{{ path('bf_core_team_trainings', {'teamslug': team.slug}) }}">Entrainements</a></li>
        </ul>
    </section>

    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if is_granted('ROLE_CLUB') %}
                    <a href=" {{ path('bf_core_club_teams') }}" class="button btn-green" >Revenir aux teams</a>
                {% endif %}
                <button class="button btn-green">Ajouter un joueur</button>
            </div>
        </div>
        <div class="row">
            <h1>Mon équipe: {{ team.name }}</h1>
            <table class="table">
                <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th>Matchs joues</th>
                    <th>Entrainements</th>
                    <th>Buts</th>
                </tr>

                {% for player in players %}
                    <tr>
                        <td>{{ player.number }}</td>
                        <td>{{ player.user.username }}</td>
                        <td>{{ player.numberMatches }}</td>
                        <td>{{ player.numberTrainings }}</td>
                        <td>{{ player.numberGoals }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}