{% extends "BFCoreBundle::layout-home.html.twig" %}

{% block title %}
    <title> Accueil - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    <!-- Explications section -->
    <div class="container">
        <section id="info" class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 vcenter">
                <h2>Comment ça marche ?</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-sign-in" aria-hidden="true"></i>s'inscrire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-futbol-o" aria-hidden="true"></i>Participer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3><i class="fa fa-trophy" aria-hidden="true"></i>Remporter des lots</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
            </div><!--
            Picture
            --><div class="hidden-xs col-sm-4 col-md-6 col-lg-6 picture vcenter">
                <img src="/assets/images/xtnM1.png" alt=""/>
            </div>
        </section>
        <section id="mobile-app" class="row">
            <!-- Picture -->
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 picture vcenter">
                <img src="/assets/images/app_iphone.png" alt=""/>
            </div><!--
            --><div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 vcenter">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Télécharger notre application</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 store">
                    <a href="https://itunes.apple.com/ca/app/bestfootball/id1097186081" target="_blank"><img src="/assets/images/app-store.png" alt="The apple store logo" /></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 store">
                    <a href="https://play.google.com/store/apps/details?id=com.bestfootball.android" target="_blank"><img src="/assets/images/playstore.png" alt="The play store logo" /></a>
                </div>
            </div>
        </section>
        <section id="join" class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h2>Nous rejoindre !</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue mi, suscipit eget malesuada eu, consectetur sit amet nunc. Pellentesque ultricies lorem a gravida luctus.</p>
                <a href="#" class="button btn-green">S'incrire</a>
            </div>
        </section>
    </div>


{% endblock %}