{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Login - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <div class="container">
        <div class="row">
            This is the homepage of a logged in user. We need to determine what content has to be on this page !


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            console.log( "ready!" );

            $('#form_file').on('change', function (){

                $.ajax({
                    url : '{{ path("bf_ajax_upload_video") }}',
                    type : 'POST',

                    data:'file=' + $(this).val(),
                    success : function(response){
                        console.log(response);
                    },

                    error : function(response){
                        console.log(response);
                    },

                    complete : function(response){
                        console.log(response);
                    }

                });

            });
        });
    </script>
{% endblock %}