{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Login - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    <section class="full-page-login">
        {% include 'BFCoreBundle:Components:menu-home.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <h1>Se connecter</h1>
                    <form action="/login_check" method="post">

                        <div class="inner-addon left-addon">
                            <input type="text" class="form-control" name="_username" placeholder="Nom d'utilisateur">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>

                        <div class="inner-addon left-addon">
                            <input type="password" class="form-control" name="_password" placeholder="Mot de passe">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>

                        <!-- csrf token -->
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <input type="submit" class="button" value="Se connecter">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}