{% extends "BFCoreBundle::layout.html.twig" %}

{% block title %}
    <title> Accueil  - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}

    {% include 'BFCoreBundle:Components:menu.html.twig' %}
    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}

    <!-- Explications section -->
    <div class="container">
        <div class="row">

            <h2>Les dernieres videos</h2>

            <h2>Les dernieres entrainements</h2>

            <h2>Les dernieres matchs</h2>

        </div>
    </div>


{% endblock %}