{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_club_teams') }}">Mes equipes</a></li>
            <li><a href="{{ path('bf_core_club_settings') }}" class="active">Mes parametres</a></li>
        </ul>
    </section>
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            {% form_theme form.logo 'BFAppBundle:Form:entity.html.twig' %}
            {{ form_start(form) }}

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Informations du club</h2>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Nom du club</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Ligue</label>
                    {{ form_widget(form.league, {'attr': {'class': 'form-control'}}) }}
                </div>

                <h2>Adresse du club</h2>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Adresse</label>
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Adresse 2</label>
                    {{ form_widget(form.address2, {'attr': {'class': 'form-control'}}) }}
                </div>


                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-8">
                    <label for="name">Ville</label>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label for="name">Code postale</label>
                    {{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Departement</label>
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="name">Pays</label>
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <h2>Le logo</h2>

                {% if club.logo is not null %}
                    <img src="{{ club.logo.path }}" />
                {% endif %}



                {{ form_widget(form.logo, {'attr': {'class': 'form-control'}}) }}




            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <input type="submit" value="Sauvegarder" class="button btn-green">
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}