{% extends 'BFCoreBundle::layout.html.twig' %}


{% block title %}
    <title> Club teams - {{ parent() }} </title>
{% endblock %}

{% block facebook_social %}
{% endblock %}

{% block twitter_social %}
{% endblock %}

{% block content %}
    {% include 'BFCoreBundle:Components:menu.html.twig' %}

    <!-- Beginning of the page -->
    <section id="sub-menu">
        <ul>
            <li><a href="{{ path('bf_core_club_teams') }}" class="active">Mes equipes</a></li>
            <li><a href="{{ path('bf_core_club_settings') }}">Parametres du club</a></li>
        </ul>
    </section>

    {% include 'BFCoreBundle:Components:flash-messages.html.twig' %}

    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="button btn-green" data-toggle="modal" data-target="#addTeam">Ajouter une équipe</button>
            </div>
        </div>
        <div class="row">
            <h1>Les equipes de {{ app.user.club.name }}</h1>
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Nombre joueurs</th>
                    <th>Identifiant coach</th>
                    <th>Mot de passe coach</th>
                    <th style="text-align: center;">Page de l'equipe</th>
                    <th style="text-align: center;">Supprimer</th>
                </tr>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td></td>
                        <td>{{ team.coach.username }}</td>
                        <td>{{ team.coach.plainpwd }}</td>

                        <td style="text-align: center;">
                            <a href="{{ path('bf_core_team_view', {'teamslug': team.slug }) }}" class="btn btn-success delete-team">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </td>


                        <td style="text-align: center;">
                            <button class="btn btn-danger delete-team" data-team-id="{{ team.id }}" data-team-name="{{ team.name }}" data-toggle="modal" data-target="#deleteTeam">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>


        </div>
    </div>


    <!-- The modals for this page -->
    <!-- Modal to add a TEAM -->
    <div class="modal fade" id="addTeam" tabindex="-1" role="dialog" aria-labelledby="addTeam">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter une team</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('bf_team_create') }}" method="post">

                        <div class="form-group">
                            <label for="teamName">Nom</label>
                            <input type="text" class="form-control" id="teamName" name="team_name" placeholder="Nom">
                        </div>
                        <input type="hidden" name="club_id" value="{{ app.user.club.id }} ">
                        <input type="submit" class="btn btn-green" value="save">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to delete a TEAM -->
    <div class="modal fade" id="deleteTeam" tabindex="-1" role="dialog" aria-labelledby="deleteTeam">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Supprimer <span class="del-team-name"></span></h4>
                </div>
                <div class="modal-body">
                    Etes-vous sur de vouloir supprimer la team <span class="del-team-name"></span> ?
                    <a href="" class="btn btn-danger del-team-action">OUI</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">NON</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--scripts -->
    <script type="application/javascript">
        $(function() {

            //The delete button is clicked.
            $('.delete-team').on('click', function () {
                var teamId = $(this).data('team-id'),
                    teamName = $(this).data('team-name'),
                    deleteURL = Routing.generate('bf_team_delete', { id: teamId });


                console.log()

                $('.del-team-name').html(teamName);
                $('.del-team-action').attr('href', deleteURL);

            });
        });
    </script>
{% endblock %}
