{% extends 'BFAdminBundle::layout.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Utilisateurs</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title" style="display: table-cell;">Nom d'utilisateur </th>
                                <th class="column-title" style="display: table-cell;">Adresse email </th>
                                <th class="column-title" style="display: table-cell;">Date d'inscription</th>
                                <th class="column-title" style="display: table-cell;">Date derniere connexion </th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Visualiser</span></th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Modifier</span></th>
                                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Supprimer</span></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}

                                {% if loop.index is even %}
                                    <tr class="even pointer">
                                        <td class=" ">{{ user.username }}</td>
                                        <td class=" ">{{ user.email }}</td>
                                        <td class=" ">...</td>
                                        <td class=" ">{{ user.lastLogin|date("d/m/Y") }}</td>

                                        <td class=""><a href="{{ path('bf_admin_user_view', {'username' : user.username}) }}" class="btn btn-round btn-success">Visualiser</a></td>
                                        <td class=""><a href="{{ path('bf_admin_user_mod', {'id' : user.id}) }}" class="btn btn-round btn-primary">Modifier</a></td>
                                        <td class=""><a href="{{ path('bf_admin_user_del', {'id' : user.id}) }}" class="btn btn-round btn-danger">Supprimer</a></td>
                                    </tr>
                                {% else %}
                                    <tr class="odd pointer">
                                        <td class=" ">{{ user.username }}</td>
                                        <td class=" ">{{ user.email }}</td>
                                        <td class=" ">...</td>
                                        <td class=" ">{{ user.lastLogin|date("d/m/Y") }}</td>

                                        <td class=""><a href="{{ path('bf_admin_user_view', {'username' : user.username}) }}" class="btn btn-round btn-success">Visualiser</a></td>
                                        <td class=""><a href="{{ path('bf_admin_user_mod', {'id' : user.id}) }}" class="btn btn-round btn-primary">Modifier</a></td>
                                        <td class=""><a href="{{ path('bf_admin_user_del', {'id' : user.id}) }}" class="btn btn-round btn-danger">Supprimer</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}